# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Extract a ruby method'
      'command': 'ruby-extract-method:extract'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'ruby-extract-method'
      'submenu': [
        {
          'label': 'Extract'
          'command': 'ruby-extract-method:extract'
        }
      ]
    ]
  }
]
